body{
      background-image: url('https://i.pinimg.com/originals/0d/da/cd/0ddacdb6aca795dfbbfc0e26d00eaa2c.gif');
      background-size: cover;    
      text-align:center;
      table-layout: fixed;
      text-decoration: none;
}